{% extends 'base.html' %}

{% block title %}
    بازیابی رمز عبور
{% endblock %}

{% block content %}
    <div class="container">
        <section id="form">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">

                    <div class="signup-form shadow-lg p-4 rounded-3 bg-white">
                        <h3 class="text-center mb-4">بازیابی رمز عبور</h3>

                        <form method="post" action="{% url 'reset_password' email_active_code=user.email_active_code %}">
                            {% csrf_token %}

                            <div class="form-group mb-3">
                                <label>رمز عبور</label>
                                {{ reset_password_form.new_password }}
                            </div>

                            <div class="form-group mb-3">
                                <label>تکرار رمز عبور</label>
                                {{ reset_password_form.confirm_new_password }}
                            </div>

                            <button type="submit" class="btn btn-primary w-100">
                                بازیابی رمز عبور
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <br>
{% endblock %}