<div class="tab-box">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#watch"><i class="fa fa-gift"></i>ساعت مچی</a></li>
        <li><a data-toggle="tab" href="#badaligat"><i class="fa fa-gift"></i>بدلیجات</a></li>
        <li><a data-toggle="tab" href="#behdashti"><i class="fa fa-gift"></i>آرایشی و بهداشتی</a></li>
        <li><a data-toggle="tab" href="#bazi"><i class="fa fa-gift"></i>اسباب بازی</a></li>
        <li><a data-toggle="tab" href="#varzesh"><i class="fa fa-gift"></i>تجهیزات ورزشی</a></li>
        <li><a data-toggle="tab" href="#lebas"><i class="fa fa-gift"></i>لباس فصل</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="tab-content">
                <div id="watch" class="tab-pane fade">
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/watch/1.jpg" class="w-100"/></a>
                    </div>
                </div>
                <div id="badaligat" class="tab-pane fade">
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/badal/1.jpg" class="w-100"/></a>
                    </div>
                </div>
                <div id="behdashti" class="tab-pane fade">
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/behdashti/1.jpg" class="w-100" alt=""/></a>
                    </div>
                </div>
                <div id="bazi" class="tab-pane fade">
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/bazi/1.jpg" class="w-100" alt=""/></a>
                    </div>
                </div>
                <div id="varzesh" class="tab-pane fade">
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/varzesh/8.jpg" class="w-100" alt=""/></a>
                    </div>
                </div>
                <div id="lebas" class="tab-pane fade">
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100" alt=""/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="/static/img/off/lebas/1.jpg" class="w-100"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-description">
                    <ul>
                        <li>تضمین اصالت کالاهای فروخته شده</li>
                        <li>فروش برند های معتبر</li>
                        <li>پاسخگویی 24 ساعته</li>
                        <li>امکان پرداخت آنلاین با کارت بانکی و پرداخت در محل</li>
                        <li>امکان بازگشت تا یک هفته در صورت عدم رضایت مشتری</li>
                        <li>خرید آسان و مطمئن</li>
                        <li>قیمت های مناسب</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-description2">
                    <ul>
                        <li><i class="fa fa-truck"></i>تحویل پستی سریع</li>
                        <li><i class="fa fa-plane"></i>ارسال با پست پیشتاز و سفارشی</li>
                        <li><i class="fa fa-cart-arrow-down"></i>خرید آسان و راحت</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-form">
                    <h5>در خبرنامه عضو شوید</h5>
                    <form action="">
                        <input type="email" placeholder="ایمیل خود را وارد کنید">
                        <button type="submit"><i class="fa fa-envelope-o"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------->
<div class="copy-right">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                &copy;&nbsp;&nbsp;طراحی و کدنویسی سئو 90&nbsp;&nbsp;&nbsp;&nbsp;
                <span>info@seo90.ir</span>
            </div>
        </div>
    </div>
</div>